@charset "UTF-8";
.item.item-thumbnail .item-image {
    height: 200px;
    text-align: center;
    padding: 15px;
    line-height: 100px;
    display: block;
    position: relative;
}

.item.item-thumbnail .item-title, .item.item-thumbnail .item-title a {
    font-weight: 600;
    color: #212121;
    font-size: 18px;
    line-height: 35px;
    max-height: 36px;
    overflow: hidden;
}

.item.item-thumbnail .item-price {
    margin: 3px 0;
    font-size: 30px !important;
    color: rgb(65, 33, 10);
    font-weight: 600;
}

.btn.btn-inverse {
    color: #fff;
    background: rgb(65, 33, 10);
    border-color: rgb(65, 33, 10);
}

.item.item-thumbnail .item-title a:focus, .item.item-thumbnail .item-title a:hover {
    color: rgb(65, 33, 10);
    font-weight: bold;
}

.modal-header {
    padding: 12px 15px;
    border-bottom-color: rgb(65, 33, 10);
    background: rgb(65, 33, 10);
    color: white;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fcd708;
    outline: 0;
}

.header .dropdown-menu {
    margin: 0;
    padding: 0 15px;
    border-top: 3px solid #00acac;
    border-radius: 0 0 4px 4px;
    min-width: 240px;
}

.header .dropdown-menu {
    border-top-color: #00acac;
}

.dropdown .arrow.top:after, .dropdown .arrow.top:before {
    border-bottom-color: #90cece;
}

